<section id="content-receipt" class="clearfix">
      <div id="receipt-container">
        

        <div id="receipt-content">
          <h4 id="receipt-title">Thank You!</h4>

          <p><strong>RECEIPT</strong></p>

          <div id="receipt-details" class="row clearfix">
            <div class="col-sm-8 receipt-left">

              <p><strong class="font-weight-heavy"><%= @product.title %></strong><br/> <span class="font-weight-light"></span></p>

            </div>
            <div class="col-sm-4">
              $5.99
            </div>
          </div>
          <a href="https://s3.ca-central-1.amazonaws.com/railscommerce/dreambig.png">
          <button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>
          <footer id="receipt-footer">
            <small>Your purchase is complete!</small>
          </footer>
        </div>
      </div>
      <div id="receipt-shadow"></div>
    </section>

